@model IEnumerable<Category>
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

    <div class="container mt-3">
        <h2>Category List</h2>
        <br />
        <a class="btn btn-primary" asp-controller="Category" asp-action="AddOrUpdate">New</a>
        
        <div class="row mt-3">
            <div class="col">
                @if (Model.Count() > 0)
                {
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.CategoryId</td>
                                    <td>@item.Name</td>
                                    <td>
                                        <a class="btn btn-primary btn-sm" asp-controller="Category" asp-action="AddOrUpdate" asp-route-id="@item.CategoryId">Edit</a>
                                        <a class="btn btn-danger btn-sm" asp-controller="Category" asp-action="Delete" asp-route-id="@item.CategoryId">Delete</a>
                                        
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <div class="alert alert-danger">
                        There is no Category
                    </div>
                }
            </div>
        </div>
    </div>